  <%- include('partials/title') %>

  <body class="bg-gray-100 text-gray-800 font-sans">


    <!-- Navbar -->
<%- include('partials/header') %>
   
    <!-- Main Content -->
    <main class="mt-10 flex flex-col items-center">
      <h1 class="text-3xl font-semibold mb-8">Add Your Home</h1>

      <form action="/host/add-home" method="POST"
        class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
        <div class="mb-4">
          <label for="title" class="block text-gray-700 font-medium mb-2">Enter
            name of your house</label>
          <input
            type="text"
            id="title"
            name="houseName"
            required
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-400" />

             <label for="price-pn" class="block text-gray-700 font-medium mb-2">Price Per Night </label> 
             <input
            type="number"
            id="price"
            name="price"
          
            required
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-400" />
          
             <label for="location" class="block text-gray-700 font-medium mb-2">Location </label> 
             <input
            type="text"
            id="location"
            name="location"
          
            required
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-400" />

            <label for="rating" class="block text-gray-700 font-medium mb-2">Rating</label>
            <div class="flex space-x-6 mb-4">
  <label class="flex items-center space-x-2">
    <input type="radio" id="rating-1" name="rating" value="1">
    <span>1</span>
  </label>

  <label class="flex items-center space-x-2">
    <input type="radio" id="rating-2" name="rating" value="2">
    <span>2</span>
  </label>

  <label class="flex items-center space-x-2">
    <input type="radio" id="rating-3" name="rating" value="3">
    <span>3</span>
  </label>

  <label class="flex items-center space-x-2">
    <input type="radio" id="rating-4" name="rating" value="4">
    <span>4</span>
  </label>

  <label class="flex items-center space-x-2">
    <input type="radio" id="rating-5" name="rating" value="5">
    <span>5</span>
  </label>
</div>

<label for="image" class="block text-gray-700 font-medium mb-2">Image URL </label> 
            <input type="text" name="image" id="image"
            class="w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-red-400" />

        </div>

        <button
          type="submit"
          class="w-full bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded transition duration-200">
          Add Home
        </button>
      </form>
    </main>
  </body>
</html>
