<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aribnb-AddHome</title>
  </head>
  <body>
    <header>
      <h1>Add your Home<h1></h1>
      </header>
      <main>
        <form action="/host/add-home" method="POST">
          <label for="title">Enter name of your house</label></br>
        <input type="text" id="title" name="houseName" required>

        <button type="submit">Add Home</button>
      </form>
    </main>

  </body>
</html>