* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3B4664;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container {}

.content {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
  margin-bottom: 10px;

}

input {
  font-size: 45px;
  width: 70vw;
  background-color: #181F32;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
  border: none;
  text-align: right;

}

.digitContainer {
  height: 60vh;
  width: 70vw;
  background-color: #252D44;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

button {
  width: 22%;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #EAE3DB;
}

button:hover {
  opacity: 0.8;
}

.del {
  background-color: #647299;
  color: white;
}

.reset {
  background-color: #647299;
  color: white;
  width: 46%;
}

.equal {
  background-color: #D13F30;
  color: white;
  width: 46%;
}

@media only screen and (max-width: 414px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  .digitContainer {
    height: 35%;
    width: 70vw;
    background-color: #252D44;
    border-radius: 5px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  button {
    width: 21%;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #EAE3DB;
  }

}