* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#65E4CC, #5096E0);
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.container {
  background-color: white;
  height: 500px;
  width: 400px;
  padding: 30px;
  border-radius: 20px;

}

.input {
  margin-top: 10px;
  justify-content: space-between;
  display: inline-flex;
  gap: 10px;

}

.input input {
  font-size: 24px;
  width: 290px;
  border: 1px solid rgba(128, 128, 128, 0.525);
  border-radius: 5px;
  padding: 2px;


}

.input input::-webkit-input-placeholder {
  font-size: 20px;
  padding: 10px;

  justify-content: center;
}


.input button {
  height: 40px;
  width: 40px;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  color: white;
}